<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashboardXCodan</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img class="logotype" src="img\logotype-ligth-dashboardxcodan-withoutbg-fit.png">
        </div>
    </div>
    <div class="main">
        <!-- <div class="pruebas"></div>
        <div class="pruebas1"></div> -->

        <div class="textWithButton">
            <h1 class="header bold">Bienvenidos a DashboardX su centro de operaciones de la empresa Codan</h1>
            <p class="body little regular">Para acceder al DashboardXCodan por favor, click en login</p>
            <input class="button ligth" type="button" value="Login">
        </div>
        <img class="sticker" src="img\sticker_landig_page_remove_bg.png" alt="">
        
    </div>
    
    <div class="svg-container">
        <div class="svg-div">
            <svg width="1572" height="526" viewBox="0 0 1572 526" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1622.3 39.8559C1300.43 -167.158 509.804 526.266 15.7285 369.92C-478.347 213.574 8.02573 636.287 8.02573 636.287H1628.35C1628.35 636.287 1944.16 246.87 1622.3 39.8559Z" fill="#FFAFAF"/>
                </svg>                
        </div>            
    </div>
        
</body>
</html>